<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Portfólio</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon" href="https://img.icons8.com/plumpy/24/portfolio.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo">
            <button class="logo-btn">Jhon-vlfs</button>
        </div>
        <nav>
            <ul>
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="skills.html">Skills</a></li>
                <li><a href="projects.html">Projects</a></li>
            </ul>
        </nav>
        <div class="social">
            <a href="https://github.com/Jhon-vlfs" class="github-icon"><i class="fab fa-github"></i></a>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="hero-content">
                <p class="greeting">Hello World, I'm</p>
                <h1 class="name">João Victor Lima.</h1>
                <h2 class="title">Web Developer & Data Enthusiast.</h2>
                <p class="welcome">Welcome to My personal website. <span class="wave">👋</span></p>
            </div>
            <div class="profile-image">
                <div class="image-container">
                    <img src="images/1000259523.png">
                </div>
            </div>
        </section>
    </main>

    <script src="js/script.js"></script>
</body>
</html>
